{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block head_title %}Home Page{% endblock %}

{% block body_content %}
    <h3>Welcome</h3>
    {% if user.is_authenticated %}
        <h4>Hi {{ user.username }}!</h4>
        <p>To select a route please go to the map page</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>This app is only available to registered users</p>
        <p>Please log in or make an account using the sign up button</p>
        <p><a href="{% url 'login' %}">Log in</a></p>
        <p><a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
{% endblock %}