{% extends 'base.html' %}

{% load leaflet_tags %}
{% load i18n %}

{% block head_title %}Map Page{% endblock %}
{% block extra_header %}
    <style>
        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block body_content %}
    {# <h3>Map</h3> #}
    {# <div style="width: 100%"> #}
    {% leaflet_map "map" callback="window.map_init_basic" %}
    {#  </div> #}
{% endblock %}

{% block extra_footer %}
    <script>
        var HOST = location.protocol + "//" + location.host;
        var locationMarker;
        var circle;

        $("#map").css({
            "width": "100%",
            "height": $(document).height() - ($("#header").height()
                + $("#footer").height() + 45)
        });

        function map_init_basic(map, options) {
            var pos;
            map.setView([53.5, -8.5], 11);
            updateLocation(map);
            map.on('touchstart click dblclick ', function () {
                updateLocation(map);
            });
        }
        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(
                function (pos) {
                    setMapToCurrentLocation(map, pos);
                    update_db(pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }

        function setMapToCurrentLocation(map, pos) {
            console.log("In setMapToCurrentLocation.");
            var myLatLon = L.latLng(pos.coords.latitude, pos.coords.longitude);
            map.flyTo(myLatLon, 16);
            if (locationMarker) {
                map.removeLayer(locationMarker);
            }
            locationMarker = L.marker(myLatLon).addTo(map);
            if (circle) {
                map.removeLayer(circle);
            }
            circle = L.circle(myLatLon, {
                color: 'blue',
                fillColor: 'blue',
                fillOpacity: 0.3,
                radius: pos.coords.accuracy
            }).addTo(map);

            $(".toast-body").html("Found location<br>Lat: " + myLatLon.lat + " Lon: " + myLatLon.lng);
            $(".toast").toast('show');
        }

        function update_db(pos) {
            var locString = pos.coords.longitude + ", " + pos.coords.latitude;

            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                url: HOST + "/updatedb/",
                data: {
                    point: locString
                }
            }).done(function (data, status, xhr) {
                console.log(data["message"])
                var originalMsg = $(".toast-body").html();
                $(".toast-body").html(originalMsg + "<br/>Updated database<br/>" + data["message"]);

            }).fail(function (xhr, status, error) {
               console.log(error);
               var originalMsg = $(".toast-body").html();
               $(".toast-body").html(originalMsg + "<br/>" + error);

            }).always(function () {
                console.log("find_loc_ed finished");
                $(".toast").toast('show');
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var myIcon = L.icon({
        iconUrl: '../static/leaflet/images/marker-icon.png',
        iconSize: [38, 70],
        iconAnchor: [20, 65],
        popupAnchor: [-3, -50],
        shadowUrl: '../static/leaflet/images/marker-shadow.png',
        shadowSize: [68, 95],
        shadowAnchor: [22, 94]
        });

        locationMarker = L.marker(myLatLon,{icon: myIcon}).addTo(map);
    </script>
{% endblock %}